
input[type=number] {
  width: 4em;
}

.button-container {
  display: flex;
  margin: 10px;
}
.array{
  display: flex;
}
.array-index-value {
  display: flex;
  flex-direction: column;
}
.array-index-value{
  border-right: solid;
  border-width: 2px;
  border-color: black;
}
.index {
  border-bottom: solid;
 
  border-width: 2px;
  border-color: black;
}
