.header {
  display: flex;
  justify-content: center;
  
}
a {
  margin: 10px;
}
h1 {
  font-size: 2em;
}
.nav-link{
  color: rgb(79, 169, 221);
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
